/* ============PROFILE PAGE CSS START */
.profilebuttons {
  margin-left: 20%;
  margin-bottom: 10px;
}

.profilemaincontainer {
  background-color: #d2c9cc7d;
}
/* ============PROFILE PAGE CSS END */